<div class="header">
	<h1>Online<br>Wednesday</h1>

	<div class="word-thing">
		<h2>See the hottest</h2>

		<select name="select" class="type">
			<option value="technology" selected>technology</option>
			<option value="fashion">fashion</option>
		</select>

		<h2>on the web<br/>from the last</h2>

		<select name="select" class="time-period">
			<option value="1">1 day</option>
      <option value="3">3 days</option>
      <option value="7">week</option>
		</select>
	</div>

	<p><strong>Primary links</strong> are tweets and Facebook posts with direct links to product pages on major sites.</p>
	<p><strong>Secondary links</strong> are filtered tweets and Facebook posts featuring the product name with links to additional sources.</p>

</div>