[Unit]
Description=Online Wednesday background worker for consuming feeds and scraping data

[Service]
ExecStart=/usr/local/bin/node /var/www/ow/backgroundworker.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/var/www/ow

[Install]
WantedBy=multi-user.target